<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <!--<ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>-->
    </ion-buttons>
    <ion-title *ngIf="!id">Cadastrar Usuário</ion-title>
    <ion-title *ngIf="id">Editar Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item> <!-- Campo nome -->
    <ion-label position="floating">Nome:</ion-label>
    <ion-input type="text" [(ngModel)]="nome"></ion-input>
  </ion-item>

  <ion-item> <!-- Campo usuário -->
    <ion-label position="floating">Usuário:</ion-label>
    <ion-input type="text" [(ngModel)]="usuario"></ion-input>
  </ion-item>

  <ion-item> <!-- Campo senha -->
    <ion-label position="floating">Senha:</ion-label>
    <ion-input type="password" [(ngModel)]="senha"></ion-input>
  </ion-item>

  <ion-item> <!-- Campo nivel -->
    <ion-label>Nível:</ion-label>
    <ion-select placeholder="Selecione" [(ngModel)]="nivel">
      <ion-select-option value="admin">Administrador(a)</ion-select-option>
      <ion-select-option value="professor">Professor(a)</ion-select-option>
      <ion-select-option value="aluno">Aluno(a)</ion-select-option>
      <ion-select-option value="recepcionista">Recepcionista</ion-select-option>
      <ion-select-option value="secretaria">Secretaria</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button *ngIf="!id" color="success" expand="block" (click)="cadastrar()">
    Adicionar
  </ion-button>
  <ion-button *ngIf="id" color="primary" expand="block" (click)="editar()">
    Atualizar
  </ion-button>
  <h4>{{nome}}</h4>
  <h4>{{usuario}}</h4>
  <h4>{{senha}}</h4>
  <h4>{{nivel}}</h4>
</ion-content>
