<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <!--<ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>-->
    </ion-buttons>
    <ion-title>Mostrar Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <h2>Nome:</h2>
  </ion-list>
  <ion-list>
    <h2>{{nome}}</h2>
  </ion-list>
  <ion-list>
    <h2>Usuário:</h2>
  </ion-list>
  <ion-list>
    <h2>{{usuario}}</h2>
  </ion-list>
  <ion-list>
    <h2>Nivel:</h2>
  </ion-list>
  <ion-list>
    <h2>{{nivel}}</h2>
  </ion-list>
</ion-content>
