<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de Usuários</ion-title>
    <ion-buttons slot="primary" (click)="addUsuario()">
      <ion-button>Novo <ion-icon slot="end" name="add"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-row class="ion-padding">
  <ion-input placeholder="Buscar" [(ngModel)]="nome" type="search" (input)="carregar()"></ion-input>
  <ion-buttons (click)="carregar()">
    <ion-button>
      <ion-icon slot="end" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-row>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let user of usuarios">
      <ion-item-options side="start">
        <ion-item-option (click)="editar(user.id, user.nome, user.usuario, user.senha_original, user.nivel)">
          Editar
        </ion-item-option>
      </ion-item-options>
      <ion-item><ion-label *ngIf="user.ativo=='0'" color="tertiary">{{user.nome}}</ion-label></ion-item>
      <ion-item><ion-label *ngIf="user.ativo=='1'">{{user.nome}}</ion-label></ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success" (click)="mostrar(user.id, user.nome, user.usuario, user.nivel)">
          Mostrar
        </ion-item-option>
        <ion-item-option *ngIf="user.ativo=='0'" color="danger" (click)="ativar(user.id, user.ativo)">
          Ativar
        </ion-item-option>
        <ion-item-option *ngIf="user.ativo=='1'" color="danger" (click)="ativar(user.id, user.ativo)">
          Desativar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
